name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build src/main.go

    - name: Test
      run: cd src && go test -coverprofile=coverage.out -covermode=atomic -v ./... 
 
    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)
